flask>=3.0.3
pandas>=2.2.2
numpy>=1.26.4
scipy>=1.13.0
matplotlib>=3.8.4
openpyxl>=3.1.2
seaborn>=0.13.2
python-dotenv>=1.0.1
python-pptx>=0.6.23
Flask-Limiter>=3.7.0
Flask-WTF>=1.2.1
mysql-connector-python>=8.4.0
openai>=1.30.1
